<%= form_with model: user do |form| %>
<div>
  <%= form.label :username, "Username:" %>
  <%= form.text_field :username, placeholder: "Enter your username here" %>
  <% user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
  <% end %>
</div>

<div>
  <%= form.label :email, "E-mail:" %>
  <%= form.email_field :email %>
  <% user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
  <% end %>
</div>

<div>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password, placeholder: "Enter a strong one!" %>
  <% user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
  <% end %>
</div>

<div>
  <%= form.submit %>
</div>
<% end %>